.tgs-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/*noinspection CssUnresolvedCustomProperty*/
.tgs-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
    font-size: 23px;
    background-color: var(--body);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 80%;
    overflow-y: auto;
}

/*noinspection CssUnresolvedCustomProperty*/
.tgs-show-btn {
    cursor: pointer;

    /* from timeguessr.com */
    margin-top: auto;
    margin-left: auto;
    padding: 12px 16px;
    min-width: 130px;
    text-align: center;
    border: 2px solid var(--accent);
    background-color: var(--body);
    box-shadow: 0 0 10px var(--accent);

    @media (max-width: 20em), screen and (orientation: portrait) {
        margin-top: 20px;
        margin-left: 0;
        font-size: 35px;
        margin-bottom: 50px;
    }
}
