.tgs-leaderboard-container {
  color: #fff;
  font-size: 23px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
}

.tgs-daily {
  grid-column: 1 / 2;
  grid-row: 1;
}

.tgs-all-time {
  grid-column: 2 / 4;
  grid-row: 1;
}

.tgs-leaderboard-container table {
  width: 100%;
  border-collapse: collapse;
}

.tgs-leaderboard-container td {
  font-family: monospace;
}

.tgs-its-you {
  text-decoration: underline;
}

.tgs-image-details-block {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 20px;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 300px;
  right: 245px;
  bottom: 0.5vh;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.tgs-image {
  background-color: black;
  width: 100%;
  height: calc(100% - 100px);
  object-fit: contain;
}

.tgs-image-description {
  font-size: 20px;
  margin-top: 10px;
}

.tgs-close-button {
  width: 100%;
  text-align: right;
  font-size: 20px;
  cursor: pointer;
}
