
input {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 500px;
    background-color: #0090a7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0090a7;
}

button:disabled {
    background-color: lightgray;
    color: darkgray;
}

div.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}