name: Build
on: [push]
jobs:
  build:
    name: Build Chrome and Firefox extensions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Inject API key
        shell: bash
        env:
          EXTENSION_API_KEY: ${{ secrets.EXTENSION_API_KEY }}
        run: |-
          echo $EXTENSION_API_KEY > ./public/api-key.txt
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
      - name: Build
        run: |-
          npm ci
          npm run build
      - name: Zip Chrome extension
        run: |-
          cd dist-chrome
          zip -r ../timeguessr-social-extension-chrome-${{ github.ref_name }}.zip .
      - name: Zip Firefox extension
        run: |-
          cd dist-firefox
          zip -r ../timeguessr-social-extension-firefox-${{ github.ref_name }}.zip .
      - name: Archive Chrome zip
        uses: actions/upload-artifact@v4
        with:
          name: timeguessr-social-extension-chrome-${{ github.ref_name }}
          path: timeguessr-social-extension-chrome-${{ github.ref_name }}.zip
      - name: Archive Firefox zip
        uses: actions/upload-artifact@v4
        with:
          name: timeguessr-social-extension-firefox-${{ github.ref_name }}
          path: timeguessr-social-extension-firefox-${{ github.ref_name }}.zip

  release:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download Chrome bundle artifact
        uses: actions/download-artifact@v4
        with:
          name: timeguessr-social-extension-chrome-${{ github.ref_name }}
      - name: Download Firefox bundle artifact
        uses: actions/download-artifact@v4
        with:
          name: timeguessr-social-extension-firefox-${{ github.ref_name }}
      - uses: actions/setup-node@v4
        with:
          node-version: "24.x"
      - name: Install webstore cli
        run: |-
          npm install -g chrome-webstore-upload-cli
      - name: Upload to Chrome Web Store
        run: |-
          chrome-webstore-upload upload \
            --source timeguessr-social-extension-chrome-${{ github.ref_name }}.zip \
            --extension-id ${{ vars.EXTENSION_ID }} \
            --client-id ${{ secrets.CI_GOOGLE_CLIENT_ID }} \
            --client-secret ${{ secrets.CI_GOOGLE_CLIENT_SECRET }} \
            --refresh-token ${{ secrets.CI_GOOGLE_REFRESH_TOKEN }}
#      - name: Install Firefox web-ext
#        run: |-
#          npm install -g web-ext
#      - name: Upload to Firefox Add-ons
#        run: |-
#          web-ext sign \
#            --channel=listed \
#            --api-key=${{ secrets.FIREFOX_API_KEY }} \
#            --api-secret=${{ secrets.FIREFOX_API_SECRET }} \
#            --source-dir . \
#            --artifacts-dir . \
#            --upload-source-code timeguessr-social-extension-firefox-${{ github.ref_name }}.zip
#        env:
#          WEB_EXT_SOURCE: timeguessr-social-extension-firefox-${{ github.ref_name }}.zip
      - name: Create changelog
        uses: mikepenz/release-changelog-builder-action@v5
        id: Changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            ${{ steps.Changelog.outputs.changelog }}
          draft: false
          prerelease: false
      - name: Upload Chrome Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./timeguessr-social-extension-chrome-${{ github.ref_name }}.zip
          asset_name: timeguessr-social-extension-chrome-${{ github.ref_name }}.zip
          asset_content_type: application/zip
      - name: Upload Firefox Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./timeguessr-social-extension-firefox-${{ github.ref_name }}.zip
          asset_name: timeguessr-social-extension-firefox-${{ github.ref_name }}.zip
          asset_content_type: application/zip
