name: Build
on: [ push ]
jobs:
  build:
    name: Build Chrome extension zip
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Zip
        run: |-
          zip -r timeguessr-social-extension-${{ github.ref_name }}.zip popup scripts logo_32.png manifest.json
      - name: Archive zip
        uses: actions/upload-artifact@v4
        with:
          name: timeguessr-social-extension-${{ github.ref_name }}
          path: timeguessr-social-extension-${{ github.ref_name }}.zip
  release:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download bundle artifact
        uses: actions/download-artifact@v4
        with:
          name: timeguessr-social-extension-${{ github.ref_name }}
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
      - name: Install webstore cli
        run: |-
          npm install -g chrome-webstore-upload-cli
      - name: Upload to chrome webstore
        run: |-
          chrome-webstore-upload upload \\
            --source timeguessr-social-extension-${{ github.ref_name }}.zip \\
            --extension-id ${{ vars.EXTENSION_ID }} \\
            --client-id ${{ secrets.CI_GOOGLE_CLIENT_ID }} \\
            --client-secret ${{ secrets.CI_GOOGLE_CLIENT_SECRET }} \\
            --refresh-token ${{ secrets.CI_GOOGLE_REFRESH_TOKEN }}
      - name: Create changelog
        uses: mikepenz/release-changelog-builder-action@v5
        id: Changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            ${{ steps.Changelog.outputs.changelog }}
          draft: false
          prerelease: false