name: Build
on: [push]
jobs:
  build-chrome-extension:
    name: Build Chrome extension artifact
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
#      - name: Read Version
#        uses: sergeysova/jq-action@v2
#        id: version
#        with:
#          cmd: 'jq .version manifest.json -r'
      - name: Zip
        run: |-
          # fill in your build steps here...
          # we archive the dist folder and include SHA commit as the last step
          version=$(jq -r .version manifest.json)
          zip timeguessr-social-extension-${{ github.ref_name }}.zip popup scripts logo_32.png manifest.json
      - name: Archive chrome-extension artifact
        uses: actions/upload-artifact@v2
        with:
          name: timeguessr-social-extension-${{ github.ref_name }}
          path: timeguessr-social-extension-${{ github.ref_name }}.zip