name: Build
on: [push]
jobs:
  build:
    name: Build Chrome and Firefox extensions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Inject API key
        shell: bash
        env:
          EXTENSION_API_KEY: ${{ secrets.EXTENSION_API_KEY }}
        run: |-
          echo $EXTENSION_API_KEY > ./public/api-key.txt
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
      - name: Build
        run: |-
          npm ci
          npm run build
      - name: Zip Chrome extension
        run: |-
          cd dist-chrome
          zip -r ../timeguessr-social-extension-chrome-${{ github.ref_name }}.zip .
      - name: Zip Firefox extension
        run: |-
          cd dist-firefox
          zip -r ../timeguessr-social-extension-firefox-${{ github.ref_name }}.zip .
      - name: Zip source code
        run: |-
          git archive --format=zip HEAD -o timeguessr-social-extension-source-${{ github.ref_name }}.zip
      - name: Archive Chrome zip
        uses: actions/upload-artifact@v4
        with:
          name: timeguessr-social-extension-chrome-${{ github.ref_name }}
          path: timeguessr-social-extension-chrome-${{ github.ref_name }}.zip
      - name: Archive Firefox zip
        uses: actions/upload-artifact@v4
        with:
          name: timeguessr-social-extension-firefox-${{ github.ref_name }}
          path: timeguessr-social-extension-firefox-${{ github.ref_name }}.zip
      - name: Archive source zip
        uses: actions/upload-artifact@v4
        with:
          name: timeguessr-social-extension-source-${{ github.ref_name }}
          path: timeguessr-social-extension-source-${{ github.ref_name }}.zip

  release:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download Chrome bundle artifact
        uses: actions/download-artifact@v4
        with:
          name: timeguessr-social-extension-chrome-${{ github.ref_name }}
      - name: Download Firefox bundle artifact
        uses: actions/download-artifact@v4
        with:
          name: timeguessr-social-extension-firefox-${{ github.ref_name }}
      - name: Download source artifact
        uses: actions/download-artifact@v4
        with:
          name: timeguessr-social-extension-source-${{ github.ref_name }}
      - uses: actions/setup-node@v4
        with:
          node-version: "24.x"
      - name: Install webstore cli
        run: |-
          npm install -g chrome-webstore-upload-cli
      - name: Upload to Chrome Web Store
        run: |-
          chrome-webstore-upload upload \
            --source timeguessr-social-extension-chrome-${{ github.ref_name }}.zip \
            --extension-id ${{ vars.EXTENSION_ID }} \
            --client-id ${{ secrets.CI_GOOGLE_CLIENT_ID }} \
            --client-secret ${{ secrets.CI_GOOGLE_CLIENT_SECRET }} \
            --refresh-token ${{ secrets.CI_GOOGLE_REFRESH_TOKEN }}
      - name: Install Firefox web-ext
        run: |-
          npm install -g web-ext
      - name: Unzip Firefox extension
        run: |-
          mkdir -p dist-firefox
          unzip timeguessr-social-extension-firefox-${{ github.ref_name }}.zip -d dist-firefox
      - name: Upload to Firefox Add-ons
        run: |-
          web-ext sign \
            --channel=listed \
            --api-key=${{ secrets.FIREFOX_API_KEY }} \
            --api-secret=${{ secrets.FIREFOX_API_SECRET }} \
            --source-dir dist-firefox \
            --artifacts-dir . \
            --upload-source-code timeguessr-social-extension-source-${{ github.ref_name }}.zip
